.container1 {
    height: 550px;
    width: 320px;
    
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 70px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background: black;
}
.topBar {
    display: flex;
    align-items: center;
    gap: 20px; /* Add spacing between icon and title if needed */
    margin-bottom: 30px;

  }
  
  .topBarButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .topBarIcon {
    font-size: 18px; /* Adjust size if needed */
    color: white;
  }
  
  .topBarTitle {
    font-size: 18px;
    color: white;
    
  }
 
.header {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.addBankButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 55px;
    margin-top: 180px;
}

.bankList {
    list-style: none;
    padding: 0;
  }
  
  .bankItem {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer; /* Indicate that the item is clickable */
    transition: background-color 0.2s;
  }
  
  .bankItem:hover {
    background-color: #333; /* Highlight on hover */
  }
  
  .bankIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
.addBankButton:hover {
  background-color: #0056b3;
}

.statusMessage {
  text-align: center;
  color: white;
  margin-top: 20px;
}
