body {
    margin: 0;
    /* padding: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Full viewport height */
    background-color: #f4f4f4; /* Optional background color */
}

.converterContainer {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    position: relative;
    justify-content: space-between;
    width: 400px; /* Set width to 320px */
    height: 100vh; /* Set height to 600px */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* Hide scrollbar for WebKit browsers */

/* Hide scrollbar for Internet Explorer and Edge */



.networkInfo {
    color: #aaa;
}
.paymentInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.paymentRow {
    display: flex;
    flex-direction: row;
    padding: 2px 0;
}

.paymentRow div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon {
    margin-right: -10px; /* Adjust as needed */
}




.usingUtorg {
    margin-top: auto; /* Pushes it to the bottom of the container */
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.paymentRow span {
    flex: 1;
}

.smallText {
    font-size: 12px;
    color: #aaa;
}

.icon {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    margin-right: -10px;
}

.arrow {
    color: #aaa;
    font-size: 18px;
    margin-right: -10px;
}

.resultDisplay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    width: 100%;
}

.result {
    font-size: 18px;
    color: #42a5f5;
}

.error {
    color: red;
    font-size: 12px;
    margin-left:13px ;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0;
    gap: 3px;
    width: 100%;
    margin-top: 5px;
}

.keypadButton {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px; /* Reduce padding */
    font-size: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.changeCurrency {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.selectedCurrency {
    font-size: 14px;
}

.changeCurrencyIcon {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.continueButton {
    background: linear-gradient(90deg, #007bff9f, #800080);
    color: white;
    border: none;
    border-radius: 25px;
    width: 100%;
    font-size: 14px; /* Adjust font size */
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
}

.paymentRow {
    display: flex;
    align-items: center;
}

.imageIcon {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust spacing as needed */
}

.networkInfo {
    display: flex;
    align-items: center;
    
    
}

.networkInfo .icon {
    margin-right: 9px; /* Adjust spacing between icon and text as needed */
}

.networkInfo .smallText {
    font-size: 14px; /* Adjust font size as needed */
}



.paymentRow {
    display: flex;
    align-items: center; /* Center items vertically */
}

.paymentRow img {
    margin-right: 10px;
    width: 24px; /* Adjust image size */
    height: 24px; /* Space between icon and text */
}

.paymentRow div {
    display: flex;
    flex-direction: column;
    gap: 2px; /* Stack text vertically */
}

.networkInfo,
.provide {
    display: flex;
    align-items: center; /* Align items horizontally */
    justify-content: space-between; /* Align items horizontally */
    margin: 10px 0;
    margin-left:13px ;
}



.buyIcon2 {
    font-size: 12px; /* Adjust size as needed */
    color: #f5f3f3; /* Adjust color as needed */
    margin-left: 242px;
    margin-top: 0;
    margin-bottom: 0;
}

.bottomSheet {
    background-color: #333333;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    padding: 10px; /* Reduce padding */
    height: 70px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #333;
}

.bottomSheetHeader1 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bottomSheetHeader1 i {
    margin-right: 8px; /* Adjust space between icon and text */
}

.bottomSheetContent {
    display: flex;
    flex-direction: column;
}

.bottomSheetRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.bottomSheetRow:hover {
    background-color: black;
}

.bottomSheetFooter {
    font-size: 12px;
    margin-top: 10px;
    color: #888;
}

.select-box {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Adjust to desired width, or use specific width e.g. 300px */
    height: auto;
    margin-top: 10px; /* Adjust to desired height, or use specific height e.g. 40px */
    margin-right: -50px; /* Centering the box within its container */
    
}

.select-box select {
    width: 50%; /* Full width of the container */
    height: auto; /* Adjust to fit the height of the container */
    padding: 4px; /* Adjust padding as needed */
    font-size: 12px;
    background-color: white; /* Adjust font size as needed */
    border: 1px solid #007bff; /* Border styling */
    border-radius: 4px; /* Rounded corners */
    font-weight: bold;
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

.paymentInfo hr {
    border: none; /* Removes the default border */
    border-top: 1px solid #ccc; /* Adds a top border */
    margin: 5px 0; /* Adds some space above and below the line */
}


.paymentDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 10px; /* Remove margin */
    margin-left:13px ;
}

.paymentRow {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0; /* Remove margin */
}

.paymentRow .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Adjust as needed */
}

.paymentRow .paymentTextContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.paymentRow .buyContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the left */
    width: 100%;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    margin-left: -35px;
    font-size: 12px;
}


.pay {
    margin: 0;
    padding: 0;
    margin-right: 250px;
    margin-bottom: 0; /* Space between 'Buy' text and currency text */
}
.credit {
    margin: 0;
    padding: 0;
    margin-right: 250px;
    margin-bottom: 0; /* Space between 'Buy' text and currency text */
    width:50%;
}


.paymentTextContainer{
    display: flex;
    align-items: center;
    
}

.textContainer {
    display: flex;
    align-items: center; /* Align items horizontally */
    justify-content: space-between;
    width: 100%;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    font-size: 12px;
}

.textContainer span {
    margin: 0;
    padding: 0;
    margin-right: auto; /* Pushes the arrow icon to the right */
}



.usingContainer {
    display: flex;
    align-items: center;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}
.topBarIcon{
    margin-left: -10px;
    font-size: 18px;
}
.topBarIcon1{
    margin-right: -10px;
    font-size: 18px;
}
.topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.leftContainer {
    display: flex;
    align-items: center;
    /* padding-left: 10px; Adjust if needed */
}

.backButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
     /* Move button left */
}



.rightContainer {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between right-side items */
}

.dotsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.dots {
    width: 5px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    margin: 4px 0;
}
.amountDisplay {
    display: flex;
    flex-direction: row; /* Change to column layout */
    align-items: flex-start; /* Align items to the start */
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-left: 5px; /* Remove top margin */
}

.amountDisplay.large {
    font-size: 24px; /* Adjust this size as needed */

}

.amountDisplay.large .amountInput {
    height: 30px; /* Reduce height */
    font-size: 28px; /* Adjust font size */
    padding: 0; /* Adjust padding as needed */
    margin-bottom: 0; /* Ensure no space below the input */
    margin-left:13px ;
    
}

.amountDisplay.large .amountLabel {
    font-size: 18px; /* Match the font size */
    margin-bottom: 0; /* Ensure no space below the label */
    margin-right: 20px;
    
}

.amountInput {
    background: none;
    border: none;
    color: #42a5f5;
    font-size: 14px;
    width: 100%; /* Full width */
    outline: none;
    padding: 0; /* Remove padding */
    margin-bottom: 0; /* Ensure no space below the input */
    margin-left:14px ;
}

.amountContainer {
    display: flex;
    flex-direction: column; /* Stack input and label vertically */
    align-items: flex-start; /* Align items to the start */
    margin: 0; /* Remove top margin */
    padding: 0; /* Remove padding */
    width:45%;
}

.amountLabel {
    font-size: 14px; /* Smaller font size */
    color: #666;
    padding: 0; /* Remove padding */
    margin-top: 0; /* Remove top margin */
    margin-right: 20px;
    
}
.topBarButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-left:13px ;
}
.topBarButton1 {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}
.topBarTitle1 {
    font-size: 22px;
    font-weight: bold;
    margin-left: -190px; /* Space between title and back button */
}

.separator {
    width: 3px;
    height: 20px; /* Adjust height as needed */
    background-color: #ccc; /* Adjust color as needed */
    margin: 0 15px; /* Adjust spacing as needed */
    margin-left: 8px;
}



/* Styling for the network button */


/* Hover effect for the button */
.networkDisplay:hover {
    background-color: #e0e0e0;
    border-color: #bbb;
}
.networkInfo {
    display: flex;
    align-items: center;
    background-color: #1A1A1A; /* Dark background color */
    border: 1px solid #333; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 7px 15px;
    cursor: pointer;
    color: white; /* Text color */
    width:65%;
}

.networkInfo .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.networkInfo .smallText {
    margin-right: 5px;
}

.networkInfo .networkDisplay {
    font-weight: bold;
}

.networkInfo .arrow {
    margin-left: auto; /* Push arrow to the right */
    font-size: 1.2em;
    color: #888; /* Arrow color */
}
.paymentTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}



.currencyText {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0;
    padding: 0;
    margin-right: 135px;
    margin-top: 0;
    width:50%;
}

.buyText {
    margin: 0;
    
    margin-right: 135px;
    margin-top: 0;
    width:50%;
    
}


.buyIcon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 47%;
    font-size: 12px; /* Adjust size as needed */
    margin-top: 2px;
    
    
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
    padding:5px;
}

.credit {
    display: flex;
    justify-content: center;
    align-items: center;

}
.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.buyIcon2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 42%;
    font-size: 12px; /* Adjust size as needed */
    margin-top: 0;
    margin-bottom: 0;
    
}
.spacer {
    width: 15px; /* Adjust the space as needed */
}
.customAlert {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    color: white;
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;
    width: 30%;
    max-width: 320px;
    text-align: center;
  }
  
  .customAlert p {
    margin: 0 0 15px;
  }
  
  .closeButton {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }
